.App {
  /* text-align: center; */
  margin:0% 20%;
  
}
.registration-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
 width: 100%;
 /* border: 2px solid red; */
  
}
form{
width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border: 1px solid #90caf9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
}
.form-inner{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.row{
  display: flex;
/* justify-content: space-evenly; */
align-items: center;
/* border: 2px solid red; */
  gap: 20px;
}
label{
  align-items: left;
  /* border: 2px solid red; */
 width: 20%;
}
input{
  width: 80%;
  align-items: left;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #90caf9;
}
textarea{
  height: 100px;
}
.register-btn{
width: 20%;
}
button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.icon{
  display: flex;
  gap:20px;
  font-size: 20px;
}
FaThumbsUp, FaThumbsDown{
  cursor: pointer;
}
.fa{
  cursor: pointer  ;
  color: black;
}
.fa-accept active{
  color: red
}
table{
  /* font-family: Arial, Helvetica, sans-serif; */
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
  border-radius: 20px;
  
}
h1{
  text-align: center;
}

.text-accepted{
  font-size: 15px;
  color: green;
  text-align: center;
}
.text-rejected{
  font-size: 15px;
  color: red;
  text-align: center;
}
tr:nth-child(even){background-color: #f2f2f2;}
th:last-child {
  align-items: center;
  text-align: center;
  width: 20%;
}
tr:hover {background-color: #ddd;}

td, th{
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  /* align-items: center; */
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #219ebc;
  color: white;
}
.delete-btn{
cursor: pointer;
  font-size: 25px;
  color: royalblue;
}
button{
  background-color: #1d3557;
  color: #f1faee;
}
.entry-btn{
  background-color: #218380;
}
.text{
  text-align: center;
  padding: 5px;
  width: 150px;
  background-color: #219ebc;
  border-radius: 10px;
}
.table-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navi-btn{
  background-color: #1d3557;
  color: #f1faee;
  width: 20%;
}
.joined{
  background-color: #6a994e;
}
.present{
  background-color: #e27396;
}